.users-table {
    margin-top: 40px;
    margin-bottom: 60px;
}

.users-table-title {
    text-align: center;
    margin-bottom: 20px;
}

.user-table-subtitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filter{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#myInput {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.container-table {
    width: 1200px;
    padding: 0;
}

thead td {
    font-weight: bold;
}

tbody th {
    font-weight: normal;
}

.td-status {
    display: flex;
    justify-content: space-between;
}

.block-btn {
    color: red;
    font-weight: bold;
}

.block-btn:hover {
    text-decoration: underline;;
}

.unblock-btn {
    color: green;
    font-weight: bold;
}

.unblock-btn:hover {
    text-decoration: underline;;
}

td {
    word-break: break-all;
}

.td-name {
    width: 200px;
}

.td-description {
    width: 200px;
}

.td-price {
    width: 100px;
}

.td-daysDuration {
    width: 100px;
}

.td-features {
    width: 250px;
}

.td-services {
    width: 200px;
}

.td-action {
    display: flex;
    width: 200px;
}
.td-action div:first-child {
    margin-right: 20px;
}

.newFeatures {
    margin-top: 0;
}
.newFeatures div {
    margin-top: 10px;
}

.feature-buttons:not:first-child {
    margin-top: 20px;
}