.tariffs-title {
    margin-top: 35px;
    font-weight: bold;
}

.filters-line{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #F2F3F5;
    border-bottom: 2px solid #F2F3F5;

    justify-content: space-between;
}

.filters-line * {
    height: 100%;
}

.filter-choosing form {
    display: flex;
    align-items: center;

    justify-content: flex-start;
}


.filters-logo {
    margin-right: 20px;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.filters select {
    margin-right: 20px;
    width: 120px;
}

.filters select:last-child {
    margin-right: 0px;
}

#by-price {
    min-width: 190px;
}

.filter-apply {
    height: 100%;
}

.clear-btn{
    background-color: #fff;
    color: #6C757D;
}

.filter {
    margin-bottom: 40px;
}

/* Tariffs */

.tariffs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card */


.empty-tariff-card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #F2F2F2;
    color: gray;
}

.tariffs .card {
    margin-right: 40px;
    margin-bottom: 40px;
}

.tariffs .card, .tariffs .card li {
    background-color: #F2F2F2;
}

.card .rounded-circle {
    margin-right: 10px;
}

.tariff-content {
    text-align: center;

}

.tariff-title{
    font-weight: bold;
}

.tariff-price {
    display: flex;
    justify-content: center;
}

.tariff-service-list {
    margin-top: 20px;
}

.tariff-price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    border: 2px dashed #6C757D;
    border-radius: 6px;

    text-align: center;
    font-weight: 500;
}

.tariff-price-box span {
    margin: 0;
    padding: 0;
}



.list-of-features li{
    display: flex;
    align-items: center;
}

.tariffs-connection {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.back-to-tariffs {
    position: absolute;
}


.tariffs-connection a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tariffs-connection button {
    height: 50px;
}



/* Tariff Connection -------------------------------------------------*/

.tariff-connection-title {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: bold;
}

.tariff-payment {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    border-bottom: 2px solid #F2F3F5;
}

.tariff-payment-box {
    width: 300px;
    border: 2px dashed #198754;
    border-radius: 6px;
    padding: 20px;
}

.tariff-payment-box form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}


.tariff-window {
    padding: 40px 0;
}

.tariff-cards-info {
    display: flex;
    justify-content: space-around;
    width: 750px;
    margin: 0 auto;
}

.tariff-cards-info .current-tarrif, .tariff-cards-info .new-tarrif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tariff-window .tariff-card {
    height: 100%;
}

.tariff-card, .tariff-card .list-group-item {
    background-color: #F2F2F2;
}


